* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #18181B;
    height: 100vh;
    margin: auto;
}

.page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.songcard-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}


