* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #18181B;
    height: 100vh;
    margin: auto;
}

.page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.songcard-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
.page-container.blur {
    filter: blur(5px);
    pointer-events: none;
}
