* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #18181B;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

