* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #0A0A0A;
    color: #fff;
}

.song-details,
.player-footer {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}


.thumbnail-container {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    width: 60vw;
    height: 60vh; 
    margin-top: 20px; 
    padding: 0;
    margin-left: 0;
}

.ogthumbnail { 
    width: 110%;
    height: 100%;
    object-fit: cover;
    display: block;
    padding-left: 0%;
    padding-right: 10%;
    padding-top: 2.5%;
    border-radius: 25px;
}

.backarrow { 
    position: fixed;
    top: 20px;
    right: 20px;
    width: 44px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.song-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0%;
    margin:0;
    margin-left: 0;
    margin-top: 2%;
}

.song-info h2 {
    font-size: 2rem;
    font-weight: 700;
}

.song-info h3 {
    font-size: 1.5rem;
    color: #b3b3b3;
    margin-top: 10px;
    font-weight: 400;
}

.addsign {
    margin: 0;
    padding: 0;
    padding-left: 52%;
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);

}

.addsign img {
    
    cursor: pointer;
}


.player-footer {
    padding: 0;
    margin: 0;
    margin-top: 8%;  
    margin-left: 0;  
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30px;
    width: 100%;
}

.controls svg {
    cursor: pointer;
}

.controls h3 { 
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #b3b3b3;
    font-size: 1.2rem;
    font-weight: 400;
}

.progress {
    width: 100%;
    height: 5px;
    background-color: #4d4d4d;
    border-radius: 5px;
    margin-top: 20px;
}

.progress-bar {
    height: 100%;
    background-color: #3b82f6;
    border-radius: 5px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
.blur {
    filter: blur(5px);
    pointer-events: none;
}
