* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #18181B;
    height: 100vh;
    margin: auto;
}

.progress {
    width: 100%;
    height: 4px;
    background-color: #535353;
}

.progress-bar {
    height: 100%;
    background-color: #60A5FA;
}
