
.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #27272A;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addPlaylistContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addPlaylistContainer input {
    border: none;
    outline: none;
    background-color: #3f3f46;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

.addPlaylistContainer input::placeholder {
    color: #a1a1aa;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.saveButton, .cancelButton {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.saveButton {
    background-color: #60A5FA;
    color: white;
}

.cancelButton {
    background-color: #535353;
    color: white;
}
