.vertical-section {
    margin: 0;
    padding: 0;
    background-color: #27272A; 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px; 
    margin-top: 40px;
    width: 600px; 
    height: 300px; 
}

.vertical-section h2 {
    color: #ffffff; 
    font-size: 1.5rem; 
    font-weight: bold;
    margin-bottom: 20px;
}

.vertical-component {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap; 
    gap: 25px; 
    overflow-y: hidden; 
    overflow-x: scroll;
    padding-bottom: 15px;
    height: 100%; 
    align-items: center; 
}

.vertical-component::-webkit-scrollbar {
    height: 8px;
}

.vertical-component::-webkit-scrollbar-track {
    background: #333;
    border-radius: 4px;
}

.vertical-component::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.vertical-component::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.recent-song {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: #111111; 
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    flex-shrink: 0;
}

.recent-song:hover {
    background-color: #383838; 
}

.song-img {
    width: 200px; 
    height: 150px; 
    border-radius: 5px; 
    overflow: hidden; 
    flex-shrink: 0; 
}

.song-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px; 
}

.song-title {
    color: #ffffff; 
    font-size: 1rem;
    margin-top: 10px;
    text-align: center; 
    width: 180px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}