.vertical-section {
    margin: 0;
    padding: 0;
    background-color: #27272A; 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px; 
    width: 28%;
}

.vertical-section h2 {
    color: #ffffff; 
    font-size: 1.5rem; 
    font-weight: bold;
    margin-bottom: 20px;
}

.vertical-component {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    height: 500px; 
    overflow-y: auto; 
    overflow-x: hidden;
    padding-right: 5px; 
}

.vertical-component::-webkit-scrollbar {
    width: 8px;
}

.vertical-component::-webkit-scrollbar-track {
    background: #333;
    border-radius: 4px;
}

.vertical-component::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.vertical-component::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.recent-song {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: #111111; 
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.recent-song:hover {
    background-color: #383838; 
}

.song-img {
    width: 350px; 
    height: 150px; 
    border-radius: 5px; 
    overflow: hidden; 
    flex-shrink: 0; 
}

.song-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px; 
}

.song-title {
    color: #ffffff; 
    font-size: 1rem;
    margin-left: 0; 
    margin-top: 10px;
    text-align: left; 
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}